<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lowriders and Cats</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style002.css">
</head>

<body>
    <div class="wrapper">
        <div id="header">
            <h1>Cats</h1>
        </div>
        <div id="cats">
            <img src="images/cat1.jpg">
            <img src="images/cat2.jpg">
        </div>
    </div>
</body>


</html>