<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Lowrider</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style003.css">
</head>

<body>
    <div class="wrapper">
        <div class="header"></div>
        <div id="content">
            <h3>Add Lowrider</h3>
            <form>
                <label>Make</label><br>
                <input type="text" name="" value="" placeholder="Make" ><br>
                <label>Model</label><br>
                <input type="text" name="" value="" placeholder="Make" ><br>
                <label>Year</label><br>
                <input type="text" name="" value="" placeholder="Make" ><br>
                <input type="submit" value="Add Lowrider">
            </form>
        </div>
    </div>
</body>


</html>