<div class="container">
  <h1>US Time Zone Display</h1>

  <div class="zones">
    <div class="bzone">

      
          <button (click)="getDateByZone('PST')" [ngClass]="{selected: lastTimeZoneSelected === 'PST'}">PST</button>
          <button (click)="getDateByZone('MST')" [ngClass]="{selected: lastTimeZoneSelected === 'MST'}">MST</button>
          <button (click)="getDateByZone('CST')" [ngClass]="{selected: lastTimeZoneSelected === 'CST'}">CST</button>
          <button (click)="getDateByZone('EST')" [ngClass]="{selected: lastTimeZoneSelected === 'EST'}">EST</button>
      

    </div>

  </div>
  <div id="time-data">
    <h1>{{time | date:'medium'}}</h1>
  </div>
</div>