
.profile-content{
    height: 240px;
    margin-top:30px;
    background-color:yellow;
    padding:0px 0px 0px 20px;
}
    
.profile-levels{
    display:inline-block;
    vertical-align: top;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif
    
}

.profile-pic{
    margin-top:20px;
    display: inline-block;
    margin-left:470px;
}