<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit King Lion</title>
</head>
<body>
       <form action="/process" method="post">
        <label>Name</label><br>
        <input type="text" name="name" value=""><br>
        <label>Color</label><br>
        <input type="input" name="color" value=""><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>